<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag(sessions_path) do |f| %>

      <%= label_tag 'session_email', 'Email' %>
      <%= text_field_tag 'session[email]', nil,
          { id: 'session_email', size: 30, type: 'text' } %>

      <%= label_tag 'session_password', 'Password' %>
      <%= password_field_tag 'session[password]', nil,
          { id: 'session_password', size: 30, type: 'password' } %>

      <%= submit_tag "Sign in", { class: "btn btn-large btn-primary",
                                    name: 'commit', type: 'submit' } %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
